@model IEnumerable<Rondinelli.MyHouseFinance.Application.ViewModels.UsuarioViewModel>

<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts
{
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js">
    </script>
}

<p>
    <div class="form-group">
        <div class="col-md-10">
            <input type="button" value="Criar" class="btn btn-primary" onclick="location.href='@Url.Action("Criar", "Usuario")'" />
        </div>
    </div>
    <br />
</p>
<table id="tableUsuario" class="display" style="width: 100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaPessoa)
            </th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoriaPessoa)
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="button" value="Editar" class="btn btn-success" onclick="location.href = '@Url.Action("Editar", "Usuario", new {id = item.Id})'" />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="button" value="Deletar" class="btn btn-danger" onclick="location.href = '@Url.Action("Deletar", "Usuario", new {id = item.Id})'" />
                        </div>
                    </div>
                </td>
            </tr>
        }

    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $('#tableUsuario').DataTable(
            {
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
                }
            });
    });
</script>
