@model IEnumerable<Rondinelli.MyHouseFinance.Application.ViewModels.DespesaViewModel>

<p>
    <div class="form-group">
        <div class="col-md-10">
            <input type="button" value="Criar" class="btn btn-primary" onclick="location.href='@Url.Action("Criar", "Despesa")'" />
        </div>
    </div>
    <br />
</p>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MesReferencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCompra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parcelas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoPagamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoriaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResponsavelPagadorId)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MesReferencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataCompra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parcelas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoPagamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResponsavelPagador.Nome)
        </td>
        <td>

            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <input type="button" value="Editar" class="btn btn-success" onclick="location.href = '@Url.Action("Editar", "Despesa", new {id = item.Id})'" />
                    </div>
                    <div class="col-md-6">
                        <input type="button" value="Deletar" class="btn btn-danger" onclick="location.href = '@Url.Action("Deletar", "Despesa", new {id = item.Id})'" />
                    </div>
                </div>
            </div>            
        </td>
    </tr>
    }

</table>
